<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Chat</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:src="@{/js/home.js}"></script>
  </head>
  <body>
    <div class="msn-container">
      <div class="header">
        <div class="status">
          <div class="status-icon"></div>
          <h2 id="userNameMessage" th:text="${user[0].username}"></h2>
        </div>
        <form action="/logout" method="POST">
          <button class="logout-button" type="submit">Logout</button>
        </form>
      </div>

      <div class="chat-body-wrapper">
        <div class="chat-title">General</div>
        <div class="chat-body">
          <hr/>
          <div class="list-message">
          </div>
        </div>
      </div>

      <div class="chat-footer">
        <input type="text" id="message" placeholder="Enter your message here..." />
        <button onclick="sendMessage()">Send</button>
      </div>

      <div class="status-container">
        <div class="status-group">
          <div class="status-title" onclick="toggleList('online-list', this)">
            <h3>Online (<span id="online-count">0</span>)</h3>
            <span class="arrow">&#9658;</span>
          </div>
          <div id="online-list" class="user-list"></div>
        </div>
        <div class="status-group">
          <div class="status-title" onclick="toggleList('offline-list', this)">
            <h3>Offline (<span id="offline-count">0</span>)</h3>
            <span class="arrow">&#9658;</span>
          </div>
          <div id="offline-list" class="user-list"></div>
        </div>
      </div>
    </div>
  </body>
</html>
