body {
    font-family: Arial, sans-serif;
    background-color: #E6E6FA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 300px;
    background-color: #F0F8FF;
    border: 1px solid #A9A9A9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.login-container img {
    width: 80px;
    margin-bottom: 10px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px); /* Réduit la largeur pour ajouter de l'espace à gauche et à droite */
    padding: 8px 10px; /* Padding horizontal augmenté */
    margin: 10px auto; /* Ajoute de l'espace autour des champs */
    display: block; /* Centre les champs */
    border: 1px solid #A9A9A9;
    border-radius: 4px;
}

.login-container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #A9A9A9;
    border-radius: 4px;
    margin-bottom: 10px;
}

.login-container input[type="checkbox"] {
    margin-right: 5px;
}

.login-container button {
    background-color: #6495ED;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.login-container button:hover {
    background-color: #4682B4;
}

.login-container .options a {
    display: block;
    font-size: 12px;
    color: #4682B4;
    margin-top: 10px;
}

.login-container .options a:hover {
    text-decoration: underline;
}
